



#contact iframe
{
    width: 100%;
}

.travel_maindiv
{
border: 1px solid #446A46;
font-family: monospace;
font-size: large;

}
.travel_maindiv img
{
width:100%;

}
h5
{
font-size: larger;

}
.travel_maindiv
{
border: 1px solid #446A46;
font-family: monospace;
font-size: large;

}
.travel_maindiv img
{
width:100%;

}
h5
{
font-size: larger;

}

.movie_head
{
font-size:20px;
padding:6px 22px;
font-family:monospace;
border-radius: 20px;
margin-bottom:15px;
}
.movie_head i
{
float:right;

}
.movie_text span
{
color:darkgoldenrod;
}
#book1unbirthday
{
font-size: 30px;
font-family: monospace;
}
#book1scarivy
{
font-size: 30px;
font-family: monospace;
}
#birth
{
width: 400px;
height: 600px;
}
#ivy
{
width:400px;
height:600px;
}
#map
{
width:100%;
}

#dollify
{
width:300px;
height:300px;
}

#insta
{
font-size: 30px;
font-family: monospace;
}

#email
{
font-size: 30px;
font-family: monospace;
}


